.testimonial {
    padding: 60px 0;
}

.testimonial__head {
}

.testimonial__head h2 {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-primary);
}
.testimonial__head h2 span {
    color: var(--text-color-secundary);
    margin-top: 8px;
}

.testimonial__grid{
    margin-top: 48px;
}
.pagination{
    display: flex;
    justify-content: center;
    width: 100%;
}