.btn {
    height: 40px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid var(--text-color-primary);
    color: var(--text-color-primary);
    border-radius: 20px;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;

    white-space: nowrap;
    transition: all 200ms ease-in-out;
}

.btn:hover{
    color: #fff;
    background: var(--color-secundary);
    border: 1px solid #fff;
}