* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    transition:  1300ms ease-in-out;
}
body {
    font-family: "Inter", sans-serif;
    background: var(--color-bg);
    
}
.over{
    overflow-x: hidden;
}

.mwfit {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (max-width: 1440px) {
    .mwfit {
        max-width: 1216px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1088px) {
    .mwfit {
        max-width: 746px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 746px) {
    .mwfit {
        max-width: 610px;
        margin: 0 auto;
    }
}



.swiper-container {
    width: 100%;
  }
  
  @media screen and (min-width: 375px) {
    .swiper-container {
        width: 100%;
    }
  }
  @media screen and (min-width: 640px) {
    .swiper-container {
        width: 100%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 100%;
    }
  }

  
  
.testimonial__pagination {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
.testimonial__pagination .swiper-pagination-bullet {
    width: 10px;
    height: 8px;
    text-align: center;
    font-weight: normal;
    border-radius: 8px;
    line-height: 20px;
    font-size: 12px;

    color: #000;
    opacity: 1;
    background: var(--color-primary--contrast);
    transition: ease-in-out all 200ms;
    margin-left: 6px;
}
.testimonial__pagination .swiper-pagination-bullet-active {
    background: var(--color-secundary);
    width: 24px;
    height: 8px;
} 

