* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    background: var(--black-bg);
    
}
.over{
    overflow-x: hidden;
}

.mwfit {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (max-width: 1440px) {
    .mwfit {
        max-width: 1216px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1088px) {
    .mwfit {
        max-width: 746px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 746px) {
    .mwfit {
        max-width: 610px;
        margin: 0 auto;
    }
}
