.cta {
    padding: 84px 0;
}
.cta__text {
    margin: 0 auto;
    max-width: 550px;
}
.cta__text h2 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: var(--text-color-primary);
    line-height: 32px;
}
.cta__text p {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: var(--text-color-secundary);
}
.cta__btn{
    margin-top: 48px;
    display: flex;
    justify-content: center;
}


  @media screen and (max-width: 446px) {
    .cta__btn{
        flex-direction: column;
        align-items: center;
    }
}