.header{
    background-image: url('../../../img/cover_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 66px;
    position: relative;
}
.cover {
    padding-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 66px);
    position: relative;
}
.arrow {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    left: 0;
    margin: 0 0 48px 0px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: 200ms ease-in-out;
}
.arrow:hover{

    box-shadow: 0px 0px 0px 1px var(--color-secundary);
}
.arrow span {
    font-weight: 400;
    font-size: 16px;
    margin-left: 16px;
    background: var(--color-secundary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cover__left {
    flex: 0 0 50%;
}
.cover__left > span {
    font-weight: 600;
    font-size: 16px;
    color: var(--blue-a);
    position: relative;

    background: var(--color-secundary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cover__left h1 {
    font-weight: 600;
    font-size: 48px;
    margin-top: 16px;
    color: var(--text-color-primary);
    max-width: 85%;
}
.cover__right {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.scroll__action span {
    font-weight: 400;
    font-size: 16px;
    margin-left: 16px;
    background: var(--color-secundary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cover__photo {
    max-width: 100%;
}

/* info header */
.info {
    margin-top: 48px;
    display: flex;
}
.date_info:nth-child(1) {
    margin-right: 48px;
}
.date_info {
    display: flex;
    align-items: center;
}
.date_info > span {
    margin-right: 8px;
    font-weight: 400;
    font-size: 48px;

    background: var(--color-secundary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.date_info > p {
    font-weight: normal;
    font-size: 13px;
    color: var(--text-color-primary);
    max-width: 80px;
}
/* info header */

/* mobile */
@media screen and (max-width: 1088px) {
    .cover__left h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 746px) {
    .cover__left h1 {
        font-size: 32px;
    }
    .cover {
        flex-direction: column;
    }
    .cover__left {
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cover__left h1 {
        max-width: 100%;
        text-align: center;

        font-size: 32px;
    }
    .cover__right {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .cover__photo {
        max-width: 80%;
        height: 70%;
        
    }
    .arrow{
        width: 100%;
        justify-content: center;
    }
}
