.nav {
    display: flex;
    height: 64px;
    align-items: center;
}

.nav__links ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__links ul li a {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    margin-left: 16px;
    padding: 16px 8px;
    color: var(--text-color-primary);
}
.cta {
    margin-left: auto;
}




@media screen and (max-width: 1088px) {
    .nav__links{
        display: none;
    }
}