.service {
    padding-bottom: 60px;
}

.service__head {
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-primary);

    letter-spacing: -0.5px;
}

.service__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    margin-top: 48px;
}


@media screen and (max-width: 746px) {
    .service__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 56px 16px;
    }
}