.service {
    padding: 60px 0;
}

.head {
    font-weight: 600;
    font-size: 24px;
    color: var(--white-a);

    letter-spacing: -0.5px;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    margin-top: 48px;
}


@media screen and (max-width: 746px) {
    .services__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 56px 16px;
    }
}