
.btn {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px;

    font-family: Inter;
    outline: none;
    border: none;

    border-radius: 10px;
    background: var(--color-primary--contrast);
    text-align: left;
    cursor: pointer;
    margin-bottom: 16px;
    transition: 200ms ease-in-out;
}
.btn:hover{
    opacity: 0.8;
}
.btn span{
    margin-left: 12px;
}
.btn span p {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
}
.btn span {
    font-weight: 400;
    font-size: 16px;

    color: #fff;
}